@import url("https://api.fontshare.com/css?f[]=satoshi@300,400,900&display=swap");

@import url("https://api.fontshare.com/css?f[]=chillax@500,600,700,900&display=swap");

@import "bulma/css/bulma.css";

.thyme-logo h1 {
  font-weight: 900;
  font-size: 20vw;
  z-index: 100;
  margin: 1%;
  position: fixed;
  left: 10%;
  font-family: "Chillax", sans-serif;
}

.leaf-link {
  margin: 25% 10% 0;
  position: fixed;
  left: 3%;
  z-index: 10;
  background-color: transparent;
}

.leaf-link:link {
  color: black;
  text-decoration: none;
  font-family: "Chillax";
  font-weight: 600;
  font-size: 3vw;
  background-color: transparent;
  border: 1px solid;
  padding: 1%;
}

.thymeline {
  margin: 33% 10% 0;
  position: fixed;
  left: 3%;
  z-index: 13;
  background-color: transparent;
}

.thymeline:link {
  color: black;
  text-decoration: none;
  font-family: "Chillax";
  font-weight: 600;
  font-size: 3vw;
  background-color: transparent;
  border: 1px solid;
  padding: 1%;
}

.body {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
}

/* .form {
  display: inline-block;
} */

a:visited {
  color: black;
}
a:hover {
  opacity: 50%;
  cursor: grab;
}

button:hover {
  background-color: white;
}

/* colors are place-holders */

@media only screen and (max-width: 600px) {
  .leaf-container {
    flex-direction: column;
  }

  .leaf-link:link {
    font-size: 5vw;
  }

  .thymeline:link {
    font-size: 5vw;
    margin: 36.5% 10% 0;
    position: fixed;
    left: 3%;
  }
}
