@import url("https://api.fontshare.com/css?f[]=satoshi@300,400,700,900&display=swap");

@import "bulma/css/bulma.css";

/* .form-container {
  display: flex;
} */

label {
  line-height: 30px;
  display: block;
  font-weight: 600;
}

html {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
}

div .form-container form {
  border: black;
  border-width: 3px;
  margin: 30%;
}
